a {
  text-decoration: none;
  color: white;
  transition: color 0.5s ease-in-out;
}

a:hover, a:active{
  color: orange;
  text-decoration: underline;
  transition: color 0.5s ease-in-out;
}

.navigation-items{
  padding: 0;
  margin-right: 2em;
}
mat-toolbar{
}
@media(max-width: 959px){
  mat-toolbar{
    border-radius: 0px;
  }
}

.navbar{
  justify-content: space-between;
  background: #303030;
}

ul li{
  list-style-type: none;
}

.logo{
  width: 8vw;
  height: 6vh;
  justify-content: start;
  align-content: start;
}
