a {
  text-decoration: none;
  color: white;
}
a:hover, a:active{
  color: orange;
  text-decoration: underline;
}
.navigation-items{
  padding: 0;
  margin-right: 2em;
}
mat-toolbar{
}
@media(max-width: 959px){
  mat-toolbar{
    border-radius: 0px;
  }
}

.navbar{
  justify-content: space-between;
  background: #303030;
}


