<h1>menu works!</h1>
<!--<mat-list role="list">
  <mat-list-item> <a routerLink="animeList">Anime List</a></mat-list-item>
  <mat-list-item> <a routerLink="popularAnime">Popular Anime</a></mat-list-item>
  <mat-list-item> <a routerLink="ongoingAnime">Home</a></mat-list-item>
</mat-list>
-->

<mat-grid-list cols="3" rows="1:3">
  <mat-grid-tile><a routerLink="animeList">Anime List</a> </mat-grid-tile>
  <mat-grid-tile><a routerLink="popularAnime">Popular Anime</a> </mat-grid-tile>
  <mat-grid-tile><a routerLink="ongoingAnime">Home</a> </mat-grid-tile>
</mat-grid-list>
<mat-slide-toggle>Toggle me!</mat-slide-toggle>

