<h1>menu works!</h1>
<!--<mat-list role="list">
  <mat-list-item> <a routerLink="animeList">Anime List</a></mat-list-item>
  <mat-list-item> <a routerLink="popularAnime">Popular Anime</a></mat-list-item>
  <mat-list-item> <a routerLink="ongoingAnime">Home</a></mat-list-item>
</mat-list>
-->

<mat-menu #appMenu="matMenu">
   <a routerLink="animeList">Anime List</a>
  <a routerLink="popularAnime">Popular Anime</a>
  <a routerLink="ongoingAnime">Home</a>
</mat-menu>

<button mat-raised-button color="primary" [matMenuTriggerFor]="appMenu">Menu</button>

<mat-slide-toggle>Toggle me!</mat-slide-toggle>

