<app-layout>
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <app-menu (sidenavClose)="sidenav.close()"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-anime-header (sidenavToggle)="sidenav.toggle()"></app-anime-header>
      <div class="page-container">
        <div class="left-column">
        </div>
      <div>
        <main style="height: 100%;background-color: #303030">
          <mat-divider style="border-top-color: orange"></mat-divider>
          <router-outlet></router-outlet>
        </main>
      </div>
        <div class="right-column"> </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>



