<div class="description-page">
  <div >
    <img src="{{mainPhoto?.path}}}">
  </div>

  <div class="description" >
    <p><span class="attributes">Name: </span>{{anime?.name}}</p>
    <p><span class="attributes">Type: </span>{{animeDescription?.type}}</p>
    <p><span class="attributes">Plot Summary: </span>{{animeDescription?.plot}}</p>
    <span class = attributes>Genre: </span>
      <div *ngFor="let genre of animeDescription?.genres">
        genre<span *ngIf="!last">, </span>
      </div>
    <p><span class="attributes">Released: </span>{{animeDescription?.released}}</p>
    <p><span class="attributes"> Status: </span>{{anime?.status}}</p>
  </div>

    <div *ngFor="let photo of photos">
      <img src="{{photo?.path}}">
    </div>
</div>
