html, body{
  background-color: #e8e8e8;
  height:100%;
}


ul{
  padding: 3% 5%;

}

a {
  text-decoration: none;
  color: white;
  transition: color 0.5s ease-in-out;
}

a:hover, a:active{
  color: orange;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}

.title{
  display: inline-block;
  background-color: orange;
  color:black;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

ul li{
  list-style-type: none;
}
